body {
    background-color: rgba(204, 204, 204, 0.555);
    margin: 0;
  }
  .pagebox {
    background-color: #fff;
    width:940px;
    margin: 0 auto;
    padding: 40px;
  }
p {
    text-align: center;
    color: black;
}

li {
  color: purple ;
  font-size: 18px;
}
.highlight {
    color: orange;
}
.whatevercolor {
    color: green;
}
#bottom {
    color:rgb(0, 255, 191);
  }
h1 {
    color: rgb(89, 0, 255);
    text-align: center;
}
h2 {
    color: rgb(89, 0, 255);
    text-align: center;
}
p {
    text-align: center;
}
.siteheader {
    background-color: #f0f0f0;
    margin-bottom: 30px;
    width: 100%;
    min-height: 100px;
  }
  .maincontent {
    background-color: #eddcba;
    width: 100%;
  }
  .sitefooter {
    background-color: #94cdd1;
    margin-top: 30px;
    width: 100%;
    min-height: 100px;
  }
  #CSS_block {
    width: 70px;
    height: 40px;
    border-radius: 5px;
    background-color: red;
    color: #ffffff;
    position: relative;
    font-weight: bold;
    font-size: 40px;
    padding: 10px;
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    
  }
  
  @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:800px; top:0px; transform: rotate(90deg);}
    50%  {background-color:blue; left:600px; top:200px; transform: rotate(0deg);}
    75%  {background-color:green; left:200px; top:200px; transform: rotate(-360deg);}
    100% {background-color:red; left:0px; top:0px;}
  }